body {
    background-color: #e5e0d9;
    /*6 make guestbook at the bottom and center*/
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-end; /* Align to the bottom */
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0;
}/*1 add bg color*/

.container {
    width: 350px;
    padding-top: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background-color: #dea7aa;
    border-radius: 8px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}/*2 style container for guestbook*/