@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono|Muli');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padd-150 {
  padding: 15px 150px;
}

body {
  width: 100%;
  background-color: #e5e0d9;
  overflow: auto;
}

li,
a,
button {
  list-style: none;
  text-decoration: none;
}

/* =============== Member style start =======================*/
.member {
  margin-top: 50px;
}

.member .container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #333;
  font-family: "Space Mono", monospace;
}

.member-cards {
  display: flex;
  gap: 30px;
  overflow-x: auto; /* Enable horizontal scroll */
  overflow-y: hidden;
  margin-bottom: 25px; /* Space to avoid cutting the bottom of scroll */
  padding: 15px;
  scroll-behavior: smooth;
}


/* cards Design */
.card {
  flex: 0 0 350px; /* Set a fixed width for each card */
  height: 550px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  font-family: "Space Mono", monospace;
  scroll-snap-align: start; /* Optional: Make each card snap to viewport */
}

.member-cards::-webkit-scrollbar {
  height: 8px; 
}

.member-cards::-webkit-scrollbar-thumb {
  background-color: #ed6469;
  border-radius: 10px;
}

.member-cards::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* cards Label */
.card .card-label {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 35px;
  background-color: #819089;
  color: black;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 15px;
  z-index: 2;
  transition: transform 0.5s ease;
}

/* cards Background Image */
.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('resoures/members_pic/6709616830.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  z-index: 1;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover::before {
  filter: grayscale(0%);
}

/* cards Content Details */
.card-details {
  background-color: #81908980;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  z-index: 2;
  text-align: left;
}
.card-details .name {
  font-family: 'IBM Plex Sans Thai';
  font-weight: bold;
}
/* Contact */
.contact {
  display: flex;
  justify-content: flex-end;
}

.contact-items {
  display: flex;
  gap: 15px;
  list-style: none;
}

.contact-items .item {
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.contact-items a {
  color: white;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.5s ease;
}

.contact-items a:hover {
  transform: scale(1.15);
  color: #2c3d48;
  /* Change to your preferred hover color */
}

/* card 2*/
.card:nth-child(2) .card-details {
  background-color: #dea7aa80;
}

.card:nth-child(2) .card-label {
  background-color: #dea7aa;
}

.card:nth-child(2) .contact-items a:hover {
  color: #ed6469;
}

.card:nth-child(2)::before {
  background-image: url('resoures/members_pic/6709681081.png');
}

/* card 3*/
.card:nth-child(3) .card-details {
  background-color: #7e94a280;
}

.card:nth-child(3) .card-label {
  background-color: #7e94a2;
}

.card:nth-child(3) .contact-items a:hover {
  color: #2c3d48;
}

.card:nth-child(3)::before {
  background-image: url('resoures/members_pic/6709616756.png');
}

/* card 4*/
.card:nth-child(4) .card-details {
  background-color: #b39eb580;
}

.card:nth-child(4) .card-label {
  background-color: #b39eb5;
}

.card:nth-child(4) .contact-items a:hover {
  color: #705473;
}

.card:nth-child(4)::before {
  background-image: url('resoures/members_pic/6709616822.png');
}

/* card 5*/
.card:nth-child(5) .card-details {
  background-color: #c23b2280;
}

.card:nth-child(5) .card-label {
  background-color: #c23b22;
}

.card:nth-child(5) .contact-items a:hover {
  color: #682014;
}

.card:nth-child(5)::before {
  background-image: url('resoures/members_pic/6709616715.png');
}

/* card 6*/
.card:nth-child(6) .card-details {
  background-color: #FAEDCB80;
}

.card:nth-child(6) .card-label {
  background-color: #FAEDCB;
}

.card:nth-child(6) .contact-items a:hover {
  color: #ebba3d;
}

.card:nth-child(6)::before {
  background-image: url('resoures/members_pic/6709616392.png');
}

/* card 7*/
.card:nth-child(7) .card-details {
  background-color: #f9f6f280;
}

.card:nth-child(7) .card-label {
  background-color: #f9f6f2;
}

.card:nth-child(7) .contact-items a:hover {
  color: #d1d1d1;
}

.card:nth-child(7)::before {
  background-image: url('resoures/members_pic/6709616632.jpg');
}

/* =============== Member style start =======================*/
/* =============== Guestbook style start =======================*/
.guestbook {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  font-family: "Space Mono", monospace;
}

.guestbook h1 {
  font-size: 48px;
  align-self: start;
}

.guestbook .container {
  height: auto;
  width: 600px;
  padding: 15px;
  background-color: #dea7aa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
}

.guestbook .container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-email input,
.form-name input,
.form-comment input {
  border-radius: 10px;
  border: none;
  padding: 15px;
  width: 300px;
  margin-bottom: px;
}

.form-comment input {
  width: 500px;
  height: 7rem;
}

/* Rating system */
.star-input {
  display: flex;
}

.star {
  font-size: 36px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
  border-radius: 50%;
}

.star.hovered,
.star.selected {
  color: gold;
}

.guest-rating .star {
  font-size: 20px;
  color: gold;
}

/* Guest Card */
#guestlist {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin-top: 25px;
  gap: 15px 0;
}

.guest-card {
  flex: 0 0 calc(33.33% - 25px);
  width:auto;
  max-width: calc(33.33% - 25px);
  height: auto;
  border: 2px solid #705473;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}


.guest-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.guest-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.guest-card p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.guest-card p strong {
  color: #705473;
}

/* Button */
.btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
}

/* Submit Button */
.btn button {
  padding: 10px 20px;
  background-color: #705473;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease , transform 0.5s ease;
}

.btn button:hover {
  background-color: #b39eb5;
  transform: scale(1.05);
}

/* =============== Guestbook style End =======================*/
/* =============== Header style start  =======================*/
header {
  margin: 0;
  padding: 0;
  height: 6rem;
  background-color: #3d4b64;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  padding: 0 3rem; 
  box-sizing: border-box; 
}
#hh {
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 2rem;
  text-wrap: nowrap;
  padding-right: 1rem;
}
#nn {
  display: flex;
  font-size: 2rem;
  gap: 3.5rem; 
  font-family: "Space Mono", monospace;
}
#nn a {
  text-decoration: none; 
  color: #ffffff; 
  font-family: "Space Mono", monospace;
  
}
#nn a:hover {
  color: #000000;
  font-size: 26pt;
  transition: 1s;
}
#nn p {
  color: white;
}

/* =============== Header style End  =======================*/
footer{
  height: 4rem;
}

/* Responsive */
@media (max-width: 600px) {
  #guestlist {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 15px 0;
    flex-direction: column; 
  }
  
  .guest-card {
    width: auto;
    height: auto;
    min-width: 310px;
    border: 2px solid #705473;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  .guest-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .guest-card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .guest-card p {
    font-size: clamp(10px ,2vw, 1000px);
    color: #555;
    line-height: 1.5;
    text-wrap: wrap;
  }
  
  .guest-card p strong {
    color: #705473;
  }
  .star {
    font-size: 3.5vw;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50%;
  }
  .guestbook h1 {
    font-size: clamp(30px, 5vw,1000px);
    align-self: start;
  }
  .guestbook .container h2 {
    font-size: 3vw;
    margin-bottom: 20px;
    padding-top: 10px;
  }
  .btn button {
    padding: 5px 10px;
    font-size: smaller;
    background-color: #705473;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease , transform 0.5s ease;
  }

}
@media (max-width: 1268px) {
  header {
    flex-direction: column; 
    height: auto; 
    padding: 1.3rem; 
  }

  #hh {
    font-size: 1.5rem; 
    padding: 0;
    text-align: center;
  }

  #nn {
    gap: 1rem; 
    justify-content: center; 
    padding: 0;
    font-size: 1rem;
  }
  .card-details{
    font-size: clamp(15px, 1.5vw,1000px)

  }
  .card .card-label {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #819089;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    z-index: 2;
    transition: transform 0.5s ease;
    /* Mic change font and add no wrap kub */
    font-family: "Space Mono", monospace;
    text-wrap: nowrap;
  }
  .member .container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
    font-family: "Space Mono", monospace;
    text-align: center;
  }
  .card-label#design{
    margin-top: 45px;
  }
  .guestbook .container {
    font-size: 2vw;
    height: auto;
    width: 50vw;
    padding-top: 1px;
    padding-left: 1rem;
    padding-right: 1vw;
    padding-bottom: 3vw;
    background-color: #dea7aa;
    border-radius: 8px;
    margin: 5px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); Mic,เราว่าสีดำมันดูหายใจไม่ออกก*/
    box-shadow: 0 4px 15px rgba(252, 5, 5, 0.2);
  }
  .form-email input {
    border-radius: 7px;
    border-style: none;
    height: 3vw;
    width: 30vw;
  }
  
  .form-name input {
    border-radius: 7px;
    border-style: none;
    height: 3vw;
    width: 30vw;
  }
  
  /*3 style input text for guestbook*/
  
  .form-comment input {
    border-radius: 7px;
    border-style: none;
    height: 7vw;
    width: 37.5vw;
  }
  #guestt{
    text-align: center;
    justify-items: center;
    justify-content: center;
  }
  .padd-150 {
    padding: 0px 0px;
  }
  .card {
    flex: 0 0 250px; /* Set a fixed width for each card */
    height: 550px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    font-family: "Space Mono", monospace;
    scroll-snap-align: start; /* Optional: Make each card snap to viewport */
  }

  
  
}
.card-label#design{
  margin-top: 45px;
}
#ment
{
  word-wrap: break-word; /* Break long words */
  word-break: break-word; /* Ensure long words are broken */
  overflow-wrap: break-word; /* Modern support for word breaking */
  overflow: hidden; /* Hide overflow if needed */
  text-overflow: ellipsis; /* Add ellipsis for overflowed text */
}
